<style>
	button{
		font-family:Georgia,sans-serif;
		padding:2px;
		font-size:1.2em;
		margin:10px
	}
	#display {
	  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	  border-collapse: collapse;
	  width: 100%;
	}
	#display td, #display th {
	  border: 1px solid #ddd;
	  padding: 8px;
	}
	##display tr:nth-child(even){background-color: #f2f2f2;}
	#display tr:hover {background-color: #ddd;}
	#display th {
	  padding-top: 12px;
	  padding-bottom: 12px;
	  text-align: left;
	  background-color: midnightblue;
	  color: white;
	}
</style>

<h2>ELastic Url Search</h2>

<div>
	<%= form_for url_search_path, method: :get do |f| %>
	 	<p>
	  		<%= f.label "Search for" %>
	  		<%= text_field_tag :url, params[:url] %>
	  		<%= submit_tag "Go" %>
	 	</p>
	<% end %>
 	<div>
		<table id='display'>
			<tr>
				<th>LongUrl</th>
				<th>Shorturl</th>
			</tr>
			<% @url.each do |url| %>
				<tr>
					<td><%= url.longurl %></td>
					<td><%= url.shorturl %></td>
				</tr>
			<% end %>
		</table>
	</div> 
</div>
<br/>
<button><%= link_to 'Back', new_url_path %></button>