<p>
  <strong>shorturl:</strong>
  <%= @row.shorturl %>
</p>
<p>
  <strong>LongUrl:</strong>
  <%= @row.longurl %>
</p>
 
<p>
  <strong>Domain:</strong>
  <%= @row.domain %>
</p>

 
<p>
  <strong>mdsum:</strong>
  <%= @row.mdsum %>
</p>
 

<%= link_to 'Back', new_url_path %>
