<p>
  <strong>LongUrl:</strong>
  <%= @url.longurl %>
</p>
 
<p>
  <strong>Domain:</strong>
  <%= @url.domain %>
</p>

 
<p>
  <strong>mdsum:</strong>
  <%= @url.mdsum %>
</p>
 
<p>
  <strong>shorturl:</strong>
  <%= @url.shorturl %>
</p>
<p>
  <strong>ID:</strong>
  <%= @url.id %>
</p>
<%= link_to 'Back', new_url_path %>
